font_family JetBrainsMono Nerd Font
font_size 12.5

window_padding_width 10
placement_strategy center

background {{ colors.surface.base }}
foreground {{ colors.text.primary }}

selection_background {{ colors.surface.hover }}
selection_foreground {{ colors.text.primary }}

cursor {{ colors.accent.primary }}
cursor_text_color {{ colors.text.on_accent }}

url_color {{ colors.accent.secondary }}

active_border_color {{ colors.accent.primary }}
inactive_border_color {{ colors.border.subtle }}
bell_border_color {{ colors.status.critical }}

color0  #182230
color1  #C65E49
color2  #4F9180
color3  #D49A57
color4  #557A9A
color5  #9A6678
color6  #2F8F80
color7  #C8A982

color8  #58616A
color9  #DE735C
color10 #70AA98
color11 #E8B66F
color12 #7195B3
color13 #B98596
color14 #63B3A3
color15 #EBC99A

enable_audio_bell no
confirm_os_window_close 0
modify_font cell_height 110%

background_opacity 1.0
