@define-color surface-base       #07111F;
@define-color surface-raised     #101A28;
@define-color surface-hover      #202C3A;

@define-color text-primary       #EBC99A;
@define-color text-secondary     #C8A982;
@define-color text-muted         #8F9187;

@define-color border-subtle      #2B3441;

@define-color accent-primary     #C5662A;
@define-color accent-secondary   #2F8F80;

@define-color critical           #C65E49;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: alpha(@surface-base, 1.0);
    color: @text-secondary;
    border-bottom: 1px solid @border-subtle;
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    min-width: 24px;
    padding: 0 5px;
    margin: 0 1px;
    color: @text-muted;
    background: transparent;
    border-top: 2px solid transparent;
}

#workspaces button:hover {
    color: @text-primary;
    background: transparent;
}

#workspaces button.active {
    color: @text-primary;
    background: transparent;
    border-top: 2px solid @accent-primary;
}

#workspaces button.urgent {
    color: @critical;
    background: transparent;
    border-top: 2px solid @critical;
}

#clock {
    color: @text-primary;
    background: transparent;
    padding: 0 12px;
    margin: 0;
}

#language,
#memory,
#pulseaudio,
#network {
    color: @text-secondary;
    background: transparent;
    padding: 0 7px;
    margin: 0;
}

#language {
    color: @text-muted;
}

#network {
    color: @accent-secondary;
}

#tray {
    color: @text-secondary;
    background: transparent;
    padding-left: 9px;
    padding-right: 4px;
    margin-right: 10px;
}

#pulseaudio.muted {
    color: @text-muted;
}

#network.disconnected {
    color: @critical;
}
