@define-color bg          #031432;
@define-color bg-alt      #04172d;
@define-color surface     #170e14;

@define-color foreground  #e7c498;
@define-color muted       #a79682;

@define-color teal        #268272;
@define-color orange      #b3571f;
@define-color orange-dark #92401a;
@define-color danger      #571b0e;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: rgba(10, 12, 20, 0.96);
    color: @foreground;
}

#workspaces {
    margin-left: 8px;
}

#workspaces button {
    color: @muted;
    background: transparent;

    padding: 0 6px;
    margin: 0;

    border-radius: 0;

    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    color: @foreground;
    background: transparent;
}

#workspaces button.active {
    color: @foreground;
    background: transparent;

    border-bottom-color: @orange;
}

#workspaces button.urgent {
    color: @foreground;
    background: @danger;
}

#clock,
#language,
#memory,
#pulseaudio,
#network,
#tray {
    color: @foreground;
    background: transparent;

    padding: 0 6px;
    margin: 0;

    border-radius: 0;
}

#tray {
    margin-right: 16px;
}

#pulseaudio.muted {
    color: @orange;
}

#network.disconnected {
    color: @danger;
}
